 {% extends 'student/base.html' %}
 {% block content %}
 <div class="container-sm">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">

    <div class="col-4">
    
    <div class="card bg-light mb-4" >
        <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> Student regisgration
        </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}
    
    <input type="submit" value="Submit">
      </form>
     
    </div>
</div>
</div>
</div>
</div>
{% endblock %}





