{% extends "student/base.html" %}

{% block content %}

{% if success %}
<div class="alert alert-success" role ="alert">
    The student record updated successfully.
<a href="{% url 'index' %}" class="alert-link"> Go to Home Page.</a>
</div>
{% else %}

<div class="container-sm">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-6">
      <div class="card bg-light mb-3">
        <div class="card-header">
            <i class="fa-solid fa-pen-to-square fa-lg"></i> Update Student Records
        </div>
       <div class="card-body">
            <form method = 'POST' enctype="multipart/form-data">
                
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-warning">Update</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">cancel</a>
            </form>
            
        </div>
    </div>
</div>
</div>
</div>
{% endif %}
{% endblock %}